/* --- Bagian Jadwal Kuliah --- */
.jadwal {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}

.jadwal table,
.jadwal th,
.jadwal td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

/* --- Bagian Hobi --- */
.hobi {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}

/* --- Bagian Form Hubungi Saya --- */
.form {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
}

.form input,
.form button {
  padding: 5px;
  margin: 10px;
}
