.image-bundar{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.header{
    padding: 5px;
    background-color: aliceblue;
}

.bagian1{
    background-color: aliceblue;
    padding: 5px;
}